{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Profil
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
			Profil</h1>
		<div class="row justify-content-center">
			<div class="col-12 col-md-8 p-4 m-0 text-primary">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead></thead>
						<tbody>

							<tr class="text-center">
								<td>{{ app.user.prenom }}
									{{ app.user.nom | upper }}</td>
							</tr>
							<tr class="text-center">
								<td>{{ app.user.email | lower }}</td>
							</tr>
							<tr class="text-center">
								<td>Inscription le
									{{ app.user.dateInscription | date("d-m-Y à H:i")}}</td>
							</tr>
							<tr class="text-center">
								<td>Vous avez
									{{ app.user.fichiers | length }}
									fichier(s)</td>
							</tr>
						</tbody>
					</table>
					<a class="btn btn-danger" href="{{path('app_supp_user', {'id': app.user.id})}}">Supprimer le compte</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
